<header id="top-head">
    <div class="inner">
      <div id="mobile-head">
        <h1 class="logo">スマホアプリ開発のPocosoft｜ポコソフト</h1>
        <div id="nav-toggle">
          <div> <span></span> <span></span> <span></span> </div>
        </div>
      </div>
          <nav id="global-nav">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="business.html">事業紹介</a></li>
          <li><a href="works.html">開発実績</a></li>
          <li><a href="company.html">会社概要</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSes34fwJy28yyStVuRQCEqVR5ErI-nJwoWnhgzEofW2-dBPPA/viewform?usp=sf_link" target="_blank">お問い合わせ</a></li>
        </ul>
      </nav>
  
    </div>
  </header>