
<!DOCTYPE html>
<html lang="ja">
  {% include head.html %}
<body>
  {% include header.html %}
<section id="message">
  <div class="container">
    <div class="row d-flex">
      <div class="col-12">
        <h2>Company<span class="">会社概要</span></h2>
      </div>
    </div>
  </div>
</section>
<section id="summary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-4">
        <div class="mb-5">
          <h3>会社概要</h3>
          <dl>
            <dt>商号</dt>
            <dd>株式会社ポコソフト</dd>
          </dl>
          <dl>
            <dt>住所</dt>
            <dd>
              <div>【本社】〒344-0061 埼玉県春日部市粕壁2丁目4-17 石津ビル4F</div>
          </dl>
          <dl>
            <dt>法人番号</dt>
            <dd>4030001139715</dd>
          </dl>
          <dl>
            <dt>資本金</dt>
            <dd>100万円</dd>
          </dl>
          <dl>
            <dt>代表取締役</dt>
            <dd>折笠 明弘</dd>
          </dl>
        </div>
        <dl>
          <dt>事業内容</dt>
          <dd>
            <ol>
              <li>各種アプリケーションソフトの企画、設計、開発及び販売並びに保守及び顧客へのサポート業務</li>
              <li>インターネット及びソフトウェア開発に関する総合コンサルティング業務</li>
              <li>ウェブサイトの企画、設計、開発、運営及び販売</li>
              <li>インターネットを利用した各種情報提供サービス</li>
              <li>インターネット等のオンラインを利用した市場調査、宣伝及び広告等の受託</li>
              <li>インターネット等のネットワークシステムを利用した通信販売業</li>
              <li>前各号に附帯又は関連する一切の業務</li>
            </ol>
          </dd>
        </dl>
        <h3>沿革</h3>
        <ul>
          <li>2015年5月　埼玉県越谷市にてポコソフト創業。フリーランスとして活動を開始。</li>
          <li>2019年6月　埼玉県春日部市備後東に移転。</li>
          <li>2020年12月 株式会社ポコソフト設立。</li>
          <li>2024年12月　業務拡大のため埼玉県春日部市粕壁に事務所を開設。</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}

<div id="page-top"><i class="fa fa-chevron-up"></i></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./static/js/jquery-3.3.1.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./static/js/popper.min.js"></script>
<script src="./static/js/bootstrap-4.3.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
(function($) {
    $(function() {
        var $header = $('#top-head');
        // Nav Fixed
        $(window).scroll(function() {
            if ($(window).scrollTop() > 350) {
                $header.addClass('fixed');
            } else {
                $header.removeClass('fixed');
            }
        });
        // Nav Toggle Button
        $('#nav-toggle').click(function(){
            $header.toggleClass('open');
        });
    });
})(jQuery);
</script>
<script>
$(function(){
// TOPに戻るボタン
var topBtn = $('#page-top');
topBtn.hide();
//スクロールが150に達したらボタン表示
$(window).scroll(function () {
var w = $(window).width();
if ($(this).scrollTop() > 150) {
topBtn.fadeIn();
} else {
topBtn.fadeOut();
}
});
//スムーススクロールでページトップへ
topBtn.click(function () {
$('body,html').animate({
scrollTop: 0
}, 500);
return false;
});
});
</script>
</body>
</html>