
<!DOCTYPE html>
<html lang="ja">
{% include head.html %}
<body>

{% include header.html %}

<section id="reqruit">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Reqruitment<span class="">採用活動</span></h2>
      </div>
      <div class="col-md-7 mb-5">
        <p class="mb-4">株式会社ポコソフトでは、業務拡大に伴い、新たに私たちと共に成長できる人材を募集しています。今後のプロジェクトの増加や、時代の変化に柔軟に対応するため、技術力の向上を目指し、より多くのユーザーに価値を提供することを目指しています。</p>
        <h3>スマホアプリ開発エンジニア<span style="font-size: 1rem">（経験者優遇、未経験可）</span></h3>
        <h4>仕事内容</h4>
        <p class="mb-4">スマホアプリの設計・開発・保守運用を担当します。最新技術を使用して、ユーザーにとって使いやすいアプリを開発することが求められます。</p>
        <ul>
          <li class="mb-3">モバイルアプリの設計、コーディング、および実装</li>
          <li class="mb-3">アプリの新機能追加や既存機能の改善</li>
          <li class="mb-3">アプリのUI/UXの最適化、ユーザー視点での使いやすさの向上</li>
          <li class="mb-3">バグの修正やパフォーマンスの最適化</li>
          <li class="mb-3">他の開発者やデザイナーとの連携によるプロジェクトの進行</li>
          <li class="mb-3">Gitなどのバージョン管理システムを用いたチーム開発</li>
          <li class="mb-3">リリース後のアプリの保守とアップデート対応</li>
        </ul>

        <h4>応募条件</h4>
        <ul>
          <li class="mb-3">Swift、Kotlinなどのモバイルアプリ開発に興味がある方</li>
          <li class="mb-3">チームでの開発が好きな方</li>
          <li class="mb-3">コミュニケーションを大切にできる方</li>
          <li class="mb-3">未経験者は40歳未満を条件とさせていただきます（経験者は年齢不問）</li>
        </ul>

        <h4>歓迎スキル</h4>
        <ul>
          <li class="mb-3">iOS Android アプリ開発の実務実績</li>
          <li class="mb-3">Gitによるバージョン管理の経験</li>
          <li class="mb-3">Flutterによるクロスプラットフォーム開発経験</li>
          <li class="mb-3">UI/UXデザインに関する知識</li>
        </ul>

        <h4>待遇</h4>
        <ul>
          <li class="mb-3">未経験者の場合：月給250,000円〜</li>
          <li class="mb-3">経験者の場合：実績に応じて要相談</li>
          <li class="mb-3">会社や本人の実績等踏まえて昇給・賞与あり</li>
        </ul>     
       </div>
    </div>
  </div>
</section>
{% include footer.html %}

<div id="page-top"><i class="fa fa-chevron-up"></i></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./static/js/jquery-3.3.1.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./static/js/popper.min.js"></script>
<script src="./static/js/bootstrap-4.3.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
(function($) {
    $(function() {
        var $header = $('#top-head');
        // Nav Fixed
        $(window).scroll(function() {
            if ($(window).scrollTop() > 350) {
                $header.addClass('fixed');
            } else {
                $header.removeClass('fixed');
            }
        });
        // Nav Toggle Button
        $('#nav-toggle').click(function(){
            $header.toggleClass('open');
        });
    });
})(jQuery);
</script>
<script>
$(function(){
// TOPに戻るボタン
var topBtn = $('#page-top');
topBtn.hide();
//スクロールが150に達したらボタン表示
$(window).scroll(function () {
var w = $(window).width();
if ($(this).scrollTop() > 150) {
topBtn.fadeIn();
} else {
topBtn.fadeOut();
}
});
//スムーススクロールでページトップへ
topBtn.click(function () {
$('body,html').animate({
scrollTop: 0
}, 500);
return false;
});
});
</script>
</body>
</html>